﻿@using Microsoft.AspNet.Identity
@using Microsoft.Owin.Security


<script src="http://localhost:58913/Account/IsAuthenticated" type="text/javascript"></script>
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:location.href='http://localhost:58913/Account/LogOffFromOtherSite?redirectUrl=http://webapp.loc:58953/'">Log off</a></li>
        </ul>
    }
    <script>
        if (!isAuthenticated) {
            document.getElementById('logoutForm').submit();
        }
        // test
        setTimeout(function () {            
            $ && $.ajax({
                method: "GET",
                url: "http://localhost:52596/api/values",
                contentType: "application/json; charset=utf-8",
                headers: {
                    "Authorization": "Bearer " + sessionStorage.getItem("accessToken")
                },
                success: function (data) {
                    console.log(data);
                }
            });   
        }, 1000);
    </script>

}
else
{
    using (Html.BeginForm("LoginByAccessToken", "Account", FormMethod.Post, new { id = "loginForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" id="accessToken" name="accessToken" />
        <input type="hidden" id="returnUrl" name="returnUrl" />
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>
            <li><a id="loginLink" href="javascript:window.location = 'http://localhost:58913/Account/Authorize?client_id=webapp&response_type=token&redirectUrl=http%3A%2F%2Fwebapp.loc%3A58953%2F&state='">Sign in</a></li></li>
        </ul>
    }

    <script>
        if (isAuthenticated) {
            var common = {};

            common.getFragment = function getFragment() {
                if (window.location.hash.indexOf("#") === 0) {
                    return parseQueryString(window.location.hash.substr(1));
                } else {
                    return {};
                }
            };

            function parseQueryString(queryString) {
                var data = {},
                    pairs, pair, separatorIndex, escapedKey, escapedValue, key, value;

                if (queryString === null) {
                    return data;
                }

                pairs = queryString.split("&");

                for (var i = 0; i < pairs.length; i++) {
                    pair = pairs[i];
                    separatorIndex = pair.indexOf("=");

                    if (separatorIndex === -1) {
                        escapedKey = pair;
                        escapedValue = null;
                    } else {
                        escapedKey = pair.substr(0, separatorIndex);
                        escapedValue = pair.substr(separatorIndex + 1);
                    }

                    key = decodeURIComponent(escapedKey);
                    value = decodeURIComponent(escapedValue);

                    data[key] = value;
                }

                return data;
            }
            var fragment = common.getFragment();

            if (fragment.access_token) {
                sessionStorage.setItem("accessToken", fragment.access_token);
                document.getElementById("accessToken").value = fragment.access_token;
                document.getElementById("returnUrl").value = location.href;
                document.getElementById("loginForm").submit();
            }
            else {
                document.getElementById('loginLink').click();
            }
        }
    </script>

}
